

<h1>What do you want to do?</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div>
      <h2><a href="/roadblocks/new/conceptual">Ask a conceptual question</a></h2>
      <p>No code is involved</p>
    </div>
<!--
    <div>
      <h2><a href="/roadblocks">Ask a technical question</a></h2>
      <p>Code is probably involved</p>
    </div> -->

    <div>
      <h2><a href="/roadblocks/new/bug">Log a bug</a></h2>
      <p>So you don't make the same mistake twice</p>
    </div>
  </div>
</div>
