/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_self
 */

@import "font-awesome";


body {
  padding-top: 70px;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 20px;
}


/* Stuck */
h1 {
  text-align: center;
}

.solved-it {
  margin-top: 20px;
  float: right;
}

.completed-check {
  margin-top: 2em;
  position: relative;
}

.completed-check .completed-input {
  margin-bottom: 0;
}

.completed-check-mark {
  position: absolute;
  left: -2em;
  top: 0;
  font-size: 2em;
  color: #5cb85c;
}

.next-check {
  margin-top: 3em;
}

/* Roadblocks dash */
.link-title {
  font-size: 1.5em;
  margin-right: 1em;
}

.roadblock {
  margin: 3em;
  border: 1px solid gray;
  padding: 1em;
}

.filter-box {
  margin-top: 2em;
  margin-bottom: 2em;
}

.roadblocks-filter {
  margin-bottom: 1em;
}

.rb-solved {
  border: 2px solid green;
}

.rb-help {
  border: 2px solid red;
}

.roadblocks-filter a {
  font-size: 1.5em;
  margin-right: 1em;
}

.roadblocks-filter a:hover {
  text-decoration: none;
}


.roadblocks-filter.question-you .question-you,
.roadblocks-filter.question-class .question-class,
.roadblocks-filter.bug-you .bug-you,
.roadblocks-filter.bug-class .bug-class {
  border-bottom: 4px solid lightgray;
  padding-bottom: 0.25em;
}

.impt-link, .impt-link:hover {
  color: red;
}


/* Roadblocks */
.roadblocks-list {
  padding-top: 1.75em;
}

